.red {
    background-color: red;
}

.green {
    background-color: green;
}

.purple {
    background-color: purple;
}

.blue {
    background-color: blue;
}

.orange {
    background-color: orange;
}

.limegreen {
    background-color: limegreen;
}

.brown {
    background-color: brown;
}

.lightgray {
    background-color: lightgray;
}

.yellow {
    background-color: yellow;
}

.darkgray {
    background-color: darkgray;
}

ul{
	color: white;
    border:black;
    border-radius: 50%;
}









/****** DO NOT CHANGE THE STYLES BELOW THIS ******/

body {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
}

li {
    margin: 0;
    display: inline-block;
    font-size: 3em;
    padding: 0.25em;
}